.list-talents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.show-more {
  margin: 20px auto;
  background-color: transparent;
  padding: 6px 25px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 30px;
  color: #15a4fa;    
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: bold;
}

.img-none-talent {
  width: 350px;
  height: 300px;
}

.not-show-btn {
  display: none;
}

.not-talents-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-talents-title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 18px;
  color: #15a4fa;
  font-family: 'Open Sans', sans-serif;
}

.not-talents-text {
  opacity: 0.6;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  color: #4b5053;
}

.not-talent-block-hidden {
  display: none;
}