.terms-window {
  position: absolute;
  top: 60%;
  left: 20%;
  width: 60%;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -.25px;
  height: 700px;
  z-index: 1000;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.terms-title {
  padding: 53px 0 15px;
  font-size: 49px;
  font-weight: 300;
  line-height: 1.39;
  text-align: center;
  color: #15a4fa;
}

.terms-text {
  height: 500px;
  overflow: auto;
  margin-bottom: 20px;
  line-height: 1.57;
  color: #7f7f7f;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

.term-input-label {
  color: #494949;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;    
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.btn-agree {
  padding: 19px 75px;
  color: #fff;
  background-color: #15a4fa;
  white-space: normal;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid #15a4fa;
  cursor: pointer;
}