.list-jobs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.show-more {
  margin: 20px auto;
  background-color: transparent;
  padding: 6px 25px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 30px;
  color: #15a4fa;    
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: bold;
}